@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Mooli, sans-serif;
  }

  button[role="navigation"] {
    @apply transition-colors duration-300 w-16;
    @apply place-content-center text-7xl text-white/30 hover:text-white/70;
  }
}

@screen lg {
  button [data-left],
  button [data-right] {
    animation-delay: 1s;
    animation-duration: 500ms;
    animation-direction: forwards;
    opacity: 0;
  }

  button[data-left] {
    animation-name: fromLeft;
    transform: translateX(-50px);
  }

  button[data-right] {
    animation-name: fromRight;
    transform: translateX(50px);
  }

  @keyframes fromLeft {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes fromRight {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
